@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto+Condensed&display=swap');

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-attachment: fixed;
  background-image: url('images/pier.jpg');
  background-size: cover;
  font-family: 'Roboto Condensed', sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
}

button {
  -webkit-transition: all 150ms ease;
  background-color: #fff;
  border-radius: 25px;
  border: solid 1px #000;
  font-size: 18px;
  margin: 0 5px;
  padding: 2px 15px;
  transition: all 150ms ease;
}

button:hover {
  background-color: #808080;
  color: #fff;
  cursor: pointer;
}

.events-bottom {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  border: 1px solid #000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  width: 450px;
}

.events-photo-container{
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: distribute;
  -ms-flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: auto;
  width: 80%;
}

.events-photo {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  border: 1px solid #000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  width: 400px;
}

.events-spca-logo{
  -webkit-filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.75));
  -webkit-transition: opacity 150ms ease;
  filter: drop-shadow(0 2px 2px rgba(0, 0, 0, 0.75));
  transition: opacity 150ms ease;
  width: 250px;
}

.events-spca-logo:hover{
  opacity: 0.75;
}

fieldset {
  background-color: rgba(51, 102, 204, 0.75);
  border: none;
  margin: auto;
  text-align: center;
  width: 90%;
}

footer {
  background-color: #D8BFD8;
  border-top: solid 1px #000;
  color: #000;
  padding: 5px 10px;
  text-align: center;
}

.header {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  background-color: #D8BFD8;
  border-bottom: solid 1px #000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  overflow: hidden;
  padding-top: 10px;
  position: relative;
  text-align: center;
}

.header h1 {
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 50px;
  margin: 0;
  text-align: center;
  text-shadow: -1px 1px 1px #000,
  1px 1px 1px #000,
  1px -1px 0 #000,
  -1px -1px 0 #000,
  0 2px 2px #000;
}

.header h3 {
  color: #000;
  font-size: 30px;
  font-style: italic;
  margin-top: 0;
  text-shadow: -1px 1px 1px #fff,
    1px 1px 1px #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff;
}

.header-right {
  -webkit-filter: drop-shadow(0 15px 2px rgba(0, 0, 0, 0.25));
  bottom: 0;
  filter: drop-shadow(0 15px 2px rgba(0, 0, 0, 0.25));
  position: absolute;
  right: 0;
  width: 150px;
}

.header-left {
  -webkit-filter: drop-shadow(0 15px 2px rgba(0, 0, 0, 0.25));
  bottom: 0;
  filter: drop-shadow(0 15px 2px rgba(0, 0, 0, 0.25));
  left: 0;
  position: absolute;
  width: 150px;
}

.home-image-container {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 150ms ease;
  background-image: url('images/happy-pup.jpg');
  background-position: center;
  background-size: cover;
  border: 1px solid #fff;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  height: 300px;
  margin: auto;
  position: relative;
  transition: all 150ms ease;
  width: 500px;
}

.home-image-caption {
  -webkit-box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
  -webkit-transform: rotate(-20deg);
  background-color: #000;
  border-bottom: 1px solid #fff;
  border-top: 1px solid #fff;
  box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.75);
  color: #fff;
  font-size: 18px;
  left: -100px;
  padding: 5px;
  position: absolute;
  text-align: left;
  top: 20px;
  transform: rotate(-20deg);
}

.image-box {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 30px;
}

.image-box div {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  border: 1px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  height: 325px;
  margin: 10px 15px;
  width: 325px;
}

.image-box img{
  width: 100%;
  height: 100%;
}

input {
  border: 1px solid #000;
}

legend {
  color: #fff;
  font-family: 'Pacifico', cursive;
  font-size: 25px;
  text-shadow: -1px 1px 1px #000,
    1px 1px 1px #000,
    1px -1px 0 #000,
    -1px -1px 0 #000,
    -2px 2px 2px #000;
}

.main {
  -ms-flex-align: center;
  -ms-flex-direction: column;
  -ms-flex-pack: center;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: vertical;
  -webkit-box-pack: center;
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  align-items: center;
  background-color: #DDA0DD;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.75);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: column;
  height: auto;
  justify-content: center;
  margin: 25px auto;
  padding-bottom: 20px;
  position: relative;
  width: 75%;
}

.main h2 {
  color: #000;
  font-family: 'Pacifico', cursive;
  font-size: 28px;
  margin-bottom: 0;
  padding-left: 50px;
  text-align: left;
  text-shadow: -1px 1px 1px #fff,
    1px 1px 2px #fff,
    1px -1px 0 #fff,
    -1px -1px 0 #fff,
    -2px 2px 2px #000;
  width: 100%;
}

.main p {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  background-color: #D8BFD8;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
  font-size: 20px;
  margin: 20px auto;
  padding: 25px;
  text-align: left;
  width: 80%;
}

.main p a {
  -webkit-transition: color 150ms ease;
  color: rgba(51, 102, 204, 0.75);
  text-decoration: none;
  transition: color 150ms ease;
}

.main p a:hover {
  color: #fff;
}

.nav-container {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: center;
  -ms-flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  -webkit-box-pack: center;
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  align-items: center;
  background-color: #DDA0DD;
  border-bottom: 1px solid #000;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding: 15px 5px;
  width: 100%;
}

.nav-container a {
  -webkit-transition: color 150ms ease;
  color: #000;
  font-size: 25px;
  margin: 0 30px;
  text-decoration: none;
  transition: color 150ms ease;

}

.nav-container a:hover {
  color: #87CEFA;
  text-decoration: overline;
}

.services-grid {
  -ms-flex-pack: center;
  -webkit-box-pack: center;
  display: -ms-grid;
  display: grid;
  grid-row-gap: 20px;
  grid-template-columns: 1fr;
  justify-content: center;
}

.services-pix {
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  border: 1px solid #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.75);
  width: 500px;
}

.table-container {
  -ms-flex-align: center;
  -ms-flex-direction: row;
  -ms-flex-pack: distribute;
  -ms-flex-wrap: wrap;
  -webkit-box-align: center;
  -webkit-box-direction: normal;
  -webkit-box-orient: horizontal;
  align-items: center;
  display: -ms-flexbox;
  display: -webkit-box;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
}

table {
  -webkit-box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  border-collapse: collapse;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.75);
  margin: 15px;
  width: 500px;

}

table a {
  -webkit-transition: opacity 150ms ease;
  color: #000;
  text-decoration: none;
  transition: opacity 150ms ease;

}

table a:hover {
  cursor: pointer;
  opacity: 0.5;
  text-decoration: underline;

}

td {
  background-color: #DDA0DD;
  color: #fff;
  font-size: 18px;
  padding: 10px;
  text-align: center;
}

th {
  background-color: #D8BFD8;
  color: #000;
  font-size: 22px;
  padding: 10px;
  text-align: center;
}

@media (max-width: 1300px) {

  .events-photo {
    width: 300px;
  }

  .events-spca-logo{
    width: 200px;
  }

  .header h1 {
    font-size: 40px;
  }

  .header h3 {
    font-size: 25px;
  }

  .header-right {
    width: 125px;
  }

  .header-left {
    width: 125px;
  }

  .image-box div {
    height: 275px;
    width: 275px;
  }

  legend {
    font-size: 22px;
  }

  .main {
    width: 85%;
  }

  .main h2{
    padding-left: 40px;
  }

  .main p {
    font-size: 18px;
    padding: 20px;
    width: 85%;
  }

  .services-pix {
    width: 400px;
  }

}

@media (max-width: 1000px) {

  caption {
    font-size: 18px;
  }

  .events-photo {
    width: 200px;
  }

  .events-spca-logo{
    width: 150px;
  }

  .header h1 {
    font-size: 30px;
  }

  .header h3 {
    font-size: 20px;
  }

  .header-left, .header-right {
    -webkit-filter: drop-shadow(0 10px 2px rgba(0, 0, 0, 0.25));
    filter: drop-shadow(0 10px 2px rgba(0, 0, 0, 0.25));
    width: 100px;
  }

  .home-image-caption {
    font-size: 16px;
  }

  .home-image-container {
    height: 250px;
    width: 400px;
  }

  .image-box div {
    height: 225px;
    width: 225px;
  }

  .main {
    width: 90%;
  }

  .main p {
    font-size: 18px;
    width: 90%;
  }

  .main h2{
    font-size: 25px;
    padding-left: 30px;
  }

  .nav-container a {
    font-size: 22px;
    margin: 0 20px;
  }

  .services-pix {
    width: 300px;
  }

  table {
    width: 400px;
  }

  td {
    font-size: 16px;
  }

  th {
    font-size: 20px;
  }

}

@media (max-width: 700px) {

  fieldset{
    width: 100%;
  }

  footer{
    font-size: 14px;
  }

  .header h1 {
    font-size: 25px;
  }

  .header h3 {
    font-size: 18px;
  }

  .header-left, .header-right {
    width: 75px;
  }

  .home-image-container {
    border-top: none;
    height: 200px;
    width: 300px;
  }

  .home-image-caption{
    left: 0;
    right: 0;
    top: 0;
    transform: rotate(0deg);
  }

  .image-box div {
    height: 175px;
    width: 175px;
  }

  legend {
    font-size: 20px;
    padding-left: 25px;
  }

  .main {
    width: 100%;
  }

  .main p {
    font-size: 16px;
    width: 95%;
  }

  .main h2{
    font-size: 22px;
    padding-left: 20px;
  }

  .nav-container a {
    font-size: 18px;
    margin: 0 15px;
  }

  .services-pix {
    width: 200px;
  }

  table{
    margin: 15px auto;
    width: 300px;
  }

  td {
    font-size: 14px;
  }

  th {
    font-size: 18px;
  }

}

@media (max-width: 400px) {
  button {
    font-size: 15px;
  }

  .events-photo-container{
    width: 90%;
  }

  .events-spca-logo{
    margin-top: 20px;
  }

  fieldset{
    padding: 10px 0;
  }

  .header-left, .header-right {
    width: 50px;
  }

  .header h1 {
    font-size: 18px;
  }

  .header h3 {
    font-size: 16px;
  }

  .home-image-caption{
    font-size: 14px;
  }

  .home-image-container {
    border-left: none;
    border-right: none;
    width: 100%;
  }

  legend {
    font-size: 18px;
    padding-left: 15px;
  }

  .main h2 {
    font-size: 18px;
    padding-left: 10px;
  }

  .main p {
    font-size: 14px;
    margin: 15px 0;
    padding: 10px;
    width: 100%;
  }

  .nav-container a {
    font-size: 16px;
    margin: 0 5px;
  }

  td {
    font-size: 14px;
  }

  th{
    font-size: 16px;
  }
}
